*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	color: #333332;
	font-family: Open Sans, Lora, serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
  -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  counter-reset: page-number;
}

.skill-set li:hover {
	background: #3498db;
  transition: 100ms;
}

h1 {
	color: rgba(0,0,0,.75);
}

.wrapper {
	height: 100%;
}

.left {
	background-color: rgba(0,0,0,.025);
	border-right: 1px solid rgba(0,0,0,.05);
	float: right;
	height: 100%;
	margin-left: -1px;
	min-width: 256px;
	position: fixed;
	width: 33.33%;
}

.right {
	float: right;
	height: 100%;
	position: relative;
	width: 66.66%;
}

.social {
  background: rgba(0,0,0,.001);
  position: absolute;
  height: 85px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 85%;
  text-align: center;
}
.icon {
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(16%) sepia(0%) saturate(6109%) hue-rotate(148deg) brightness(88%) contrast(84%);
  width: 25px;
}

.name-hero {
	background: rgba(0,0,0,.001);
	bottom: 0;
	height: 290px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 85%;
}

.me-img {
	background: url(./d1c9f6cba375d8a6abba9c3c8f360e26.jpeg) no-repeat center center;
	background-size: 100%;
  background-position: 0px;
	border-radius: 38px;
	height: 150px;
  width: 150px;
	margin: 0 auto;
	position: relative;
}

.name-hero h1 {
	font-family: Open Sans, sans-serif;
	font-size: 1.6em;
	text-align: center;
}

.name-hero h1 em {
	color:rgba(0,0,0,.3);
	font-style: normal;
	font-weight: 700;
}

.name-hero p {
	color: rgba(0,0,0,.75);
	font-size: .8em;
	line-height: 1.5;
	margin: 0 8px 0 0;
	text-align: center;
}

.name-hero .name-text {
	margin: 0 auto;
	width: 85%;
}

a, a:visited {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  color: #2980b9;
  transition: 150ms;
}

.inner {
	margin: 0 auto;
	max-width: 975px;
	padding: 3em;
}

.inner h1 {
	font-size: 1.75em;
}

.inner p {
	color: rgba(0,0,0,.5);
}

.inner p em {
	color: rgba(0,0,0,1);
	font-style: normal;
}

.inner section {
	margin: 80px auto;
  page-break-inside: avoid;
}

ul.skill-set {
	list-style-type: none;
	margin-top: -10px;
	max-width: 570px;
	padding: 0;
}

.skill-set li {
  cursor: default;
	background:rgba(0,0,0,.75);
	border-radius: 5px;
	color: #FFF;
	display: inline-block;
	list-style: none;
	margin: 15px 15px 0 0;
	padding: 10px 12px;
	text-align: justify;
}

ul.experience-set {
  line-height: 2em;
}
.experience-set li {
  list-style: outside;
  margin-left: -25px;
  margin-bottom: 18px;
  padding-left: 5px;
  color: rgba(0,0,0,.5);
}
.experience-set li em {
	color: rgba(0,0,0,1);
	font-style: normal;
  font-weight: 600;
}

@media screen and (max-width: 48em) {
	.right, .left {
		float: none;
    position: relative !important;
		width: 100%;
    min-height: 500px;
	}
  .inner {
    padding-top: 1.5rem;
  }
  .inner section:first-child {
    margin-top: 40px;
  }
}

@media screen and (max-width: 75em) {
  body { font-size: 16px; }
}

@media screen and (max-width: 60em) {
  body { font-size: 15px; }
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* Print */
@page {
  size: A4 landscape; /* 混合使用 */
  margin: 0; /* 邊界與內容的距離 */
}
div.page {
  counter-increment: page-number 1;
  counter-increment: page 1;
}

@media print {
  /* h1 {
    page-break-before: always;
  } */
  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }
  table, figure {
    page-break-inside: avoid;
  }
  .inner {
    padding: 0em;
  }
  div.page {
    padding: 1.4em 1rem;
  }
  .inner section {
    margin: 50px;
  }
  .skill-set li {
    margin: 12px 12px 0 0;
  }
  ul.experience-set {
    line-height: 1.4em;
  }
  .no-print {
    display: none;
  }
}

.print {
  display: none;
}